# Ignorar cache y builds de Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android local files
android/local.properties

# Ignorar navegadores temporales
chrome-device/
